<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<title>Aprendendo TypeScript</title>
</head>
  <h1>{{title}}</h1>

  <input type="text" [(ngModel)]="task">
  
  <button type="button" (click) = "add()" >Adicionar na lista </button>
  <ul>
    <li *ngFor = "let item of tasks">
    {{item}}
    </li>
  </ul>
<body>
</body>
</html>